@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Grifter";
  src: url("./assets/fonts/grifter.otf") format("opentype");
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url("./assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
}

body {
  font-family: "PlusJakartaSans", sans-serif;
  line-height: 20px;
  font-size: 14px;
}

.backgroundImg {
  background-image: url("./assets/designjoy_background_home.png");
}

.section{
  padding-left: 5%;
  padding-right: 5%;
  overflow: hidden;
}

.container {
  position: relative;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.divider {
  background-image: url("./assets/designjoy_background_home.png");
}

.dividerHalf {
  width: 100%;
  height: 50%;
}

.dividerImgLeft {
  position: absolute;
  left: 0%;
}

.dividerImgRight {
  position: absolute;
  right: 0%;
}

h1 {
  font-family: 'Grifter', sans-serif;
}

h2 {
  font-family: "Grifter", sans-serif;
  font-size: 50px;
  letter-spacing: 0.5px;
  line-height: 60px;
  margin-top: 0px;
  margin-bottom: 10px;
}

h3 {
  font-family: "PlusJakartaSans", sans-serif;
  font-size: 24px;
  line-height: 36px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.quote {
  font-family: "Grifter", sans-serif;
  font-size: 33px;
  line-height: 40px;
}


.animationFromLeft {
  animation: 
    moveFromLeft 700ms linear 1 forwards,
    fadeIn 500ms linear 1 forwards;
}

@keyframes moveFromLeft {
    0% { left: -10%; }
    100% { left: 0%; }
}

.animationFromRight {
  animation: 
    moveFromRight 700ms linear 1 forwards, 
    fadeIn 500ms linear 1 forwards;
}

@keyframes moveFromRight {
    0% { right: -10%; }
    100% { right: 0%; }
}

.animationFromBelow {
  animation: 
    moveFromBelow 700ms linear 1 forwards,
    fadeIn 1000ms linear 1 forwards;
}

@keyframes moveFromBelow {
    0% {transform: translateY(30%);}
    100% {transform: translateY(0);}
}

.animationFromAbove {
  animation: 
    moveFromAbove 700ms linear 1 forwards,
    fadeIn 500ms linear 1 forwards
}

@keyframes moveFromAbove {
    0% {transform: translateY(-20%);}
    100% {transform: translateY(0);}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
